<!DOCTYPE html>
<html>

<head>
	<title>
		BookFair - Update Book
	</title>
	<link rel="stylesheet" href="/css/stile3.css" />
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
	<header>
		<nav>
			<div class="nav__header">
				<div class="nav__logo">
					<a href="#">
						<img src="/images/logo1.png" alt="logo" />
					</a>
				</div>
			</div>
			<ul class="nav__links" id="nav_links">
				<div class="nav__links2"></div>
				<li><a href="#home">Home</a></li>
				<li><a href="/book">Books</a></li>
				<li><a href="/author">Authors</a></li>
				</div>
				<ul>
				<li>
           			 <!-- <button class="btn">
							
             		 <span><i class="ri-login-box-line"></i></span>
             		<a href="/login" class="log">Login</a>
            		</button> -->
				<div th:if="${userDetails}">
                <b th:text="${userDetails.username}" class="username"></b>
                <button class="btn" type="button"><a href="/logout" class="log">Logout</a></button>
            </div>
            <div th:unless="${userDetails}">
                <button class="btn" type="button">
                <a href="/login" class="log"><span><i class="ri-login-box-line"></i></span>Login</a>
                </button>
            </div>
          		</li>
          		
			</ul>
		</nav>
	</header>

	<div class="container2">	
		<div class="myform">
			<div class="inserisci-text">
				<p class="t1">Update a book</p>
			</div>
			<form class="formform" th:action="@{'/admin/updateBook/' + ${book.id}}" method="POST" th:object="${book}" enctype="multipart/form-data">
		    <input type="hidden" th:field="*{id}" /> 
		
		    <div th:if="${#fields.hasGlobalErrors()}">
		        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
		    </div>
		    
		    <div>
		        <span>Title:</span> 
		        <span><input class="inputform" type="text" th:field="*{title}" placeholder=""/></span>
		        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		    </div>
		
		    <div>
		        <span>Release year:</span> 
		        <span><input class="inputform" type="number" min="1700" max="2025" th:field="*{year}" /></span>
		        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
		    </div>
		
		    <div>
			     <span for="genre">Genre:</span>
			     <select class="select-form" id="genre" th:field="*{genre}" required>
		    <option value="" disabled th:text="'Select a genre:'" 
		            th:if="${book.genre == null}" selected></option>
		    <option th:each="genre : ${genres}" 
		            th:value="${genre}" 
		            th:text="${genre}" />
		</select>
		
			</div>
		
		    <div>
		        <span>Plot:</span> 
		        <span><textarea class="inputform" type="text" th:field="*{plot}"></textarea></span>
		        <span th:if="${#fields.hasErrors('plot')}" th:errors="*{plot}"></span>
		    </div>
		    
		    <div>
		        <span for="authors">Author:</span>
		        <select class="select-form" id="authors" name="authorIds" multiple required>
		            <option value="" disabled>Select an author:</option>
		            <option th:each="author : ${authors}" 
		                    th:value="${author.id}" 
		                    th:text="${author.surname + ' ' + author.name}"
		                    th:selected="${book.authors != null and book.authors.contains(author)}"> 
		            </option>
		        </select>
		        <span th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></span>
		    </div>
		
		    <div>
		        <span>Photo:</span> 
		        <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" th:attr="required=${book.id == null ? true : false}"/>
		    </div>
		    
		    <div>
		        <span><button type="submit">Submit</button></span>
		    </div>
			</form>
			</div>
		</div>
	</body>
</body>

</html>