<!DOCTYPE html>
<html use-expressions="true" auto-config="true"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>BookFair - Books</title>
	<link rel="stylesheet" href="/css/stile5.css" />
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
	<div class="top-section">
			<nav>
				<div class="nav__header">
					<div class="nav__logo">
						<a href="/"><img src="/images/logo1.png" alt="logo" /></a>
					</div>
				</div>
				<ul class="nav__links" id="nav_links">
					<li><a href="/">Home</a></li>
					<li><a href="/book">Books</a></li>
					<li><a href="/author">Authors</a></li>
					<li>
						<div th:if="${userDetails}">
							<b th:text="${userDetails.username}" class="username"></b>
							<button class="btn" type="button">
								<a href="/logout" class="log">Logout</a>
							</button>
						</div>
						<div th:unless="${userDetails}">
							<button class="btn" type="button">
								<a href="/login" class="log">
									<span><i class="ri-login-box-line"></i></span>Login
								</a>
							</button>
						</div>
					</li>
				</ul>
			</nav>
	<header>
		<div class="section__container header__container" id="home">
			<h1>Let's find your next read!</h1>
		</div>
	</header>

    <!--     <div class="container3">
	    <div class="book-list">
       
        <div th:each="book : ${books}" class="book-item">
            <img  th:src="@{'data:image;base64,' + ${book.photo}}" width="180" height="90" alt="Book Cover">
            <a th:href="@{/book/{id}(id=${book.id})}" class="book-title" th:text="${book.title}"></a>
            <p>
  				<span th:each="author, iterStat : ${book.authors}">
    				<a th:href="@{/author/{id}(id=${author.id})}" class="book-author" th:text="${author.surname + ' ' + author.name}"></a>
   					<span th:if="${!iterStat.last}">, </span>
  				</span>
			</p>

        </div>
    </div>
	</div> -->
	
		<section class="menu" id="menu">
	    <div class="section__container menu__container">
	        <h2 class="section__header">Books</h2>
	        <div class="menu__grid">
	            <div class="menu__card" th:each="book : ${books}">
					<a th:href="@{'/book/' + ${book.id}}" class="menu__card__link">
	                <img th:src="@{'data:image;base64,' + ${book.photo}}"/>
	                <div class="menu__card__content">
	                    <h4 th:text="${book.title}">Book Title</h4>
							<ul>
  								<li th:each="author : ${book.authors}" th:text="${author.surname + ' ' + author.name}">Author Name</li>
							</ul>
	                </div>
					</a>
	            </div>
	        </div>
	    </div>
	</section>
        
	
</body>

</html>
